span{
    padding: 2px;
    margin: 2px;
}

.bordeAzul{
    border: solid 1px rgb(38, 0, 255);
}

.fondoAmarillo{
    background-color: rgb(255, 255, 204);
}

.esquinasRedondas{
    border-radius: 10px;
}

.textoVioleta{
    color: blueviolet;   
    color: #e47f7f;   
}

.textoNegrita{
    font-weight: bold;
}

.letraChica{
    font-size: smaller;
}

.letraGrande{
    font-size: large;
}


p{
    font-family: monospace;
    font-weight: 800;
}