<!--01-Getting Started with Angular Material-->
😍<mat-slider min="1" max="100" step="1" value="loving" [(ngModel)]="loving"></mat-slider>
    <input type="text" [(ngModel)]="loving">
    <h1>Schematics:</h1>

    <!--02-Schematics-->
    <p>ng generate @angular/material:address-form *nombreDelComponente*</p>
    <p>ng generate @angular/material:navigation *nombreDelComponente*</p>
    <p>ng generate @angular/material:table *nombreDelComponente*</p>
    <p>ng generate @angular/material:dashboard *nombreDelComponente*</p>
    <p>ng generate @angular/material:tree *nombreDelComponente*</p>
    <p>ng generate @angular/material:drag-drop *nombreDelComponente*</p>
