<form [formGroup] = "miFormulario" (ngSubmit)="onSubmit()">

    <label for="name">User Name: </label>
    <input id="name" type="text" class="form-control" formControlName="userName" placeholder="El User Name es opcional, pero debe tener entre 3 y 10 caracteres">
    <p *ngIf = "validateName()">Debe ingresar al menos 3 caracteres</p>
    
    <label for="mail">Email: </label>
    <input id="mail" type="text" class="form-control" formControlName="email">
    
    <label for="password">User Password: </label>
    <input id="password" [type]="hidePassword?'password':''" class="form-control" formControlName="userPassword">
    <p *ngIf = "miFormulario.get('userPassword')?.touched && miFormulario.get('userPassword')?.errors?.['required']">Debe ingresar un password</p>
    <p *ngIf = "
    miFormulario.get('userPassword')?.touched
        && (
            miFormulario.get('userPassword')?.errors?.['minlength'].actualLength
            <
            miFormulario.get('userPassword')?.errors?.['minlength'].requiredLength
            )
    ">El password debe tener al menos {{miFormulario.get('userPassword')?.errors?.['minlength'].requiredLength}} caracteres</p>
    
    <div class="col">
        <div class="row" style="gap: 10px;">
            <button (click)= "loadUser()" type="button" class="btn btn-outline-secondary">Load User</button>
            <button type="reset" class="btn btn-outline-secondary" >Limpiar todo</button>
            <button (click)= "verPassword()" type="button" class="btn btn-outline-secondary" [disabled]="!miFormulario.get('userPassword')?.value">Ver Password</button>
            <button (click)= "test()" type="button" class="btn btn-outline-secondary">Test</button>
            <button type="submit" class="btn btn-success" [disabled]="!miFormulario.valid">Submit</button>
        </div>
    </div>
</form>
<p>miFormulario.value:</p>
<p>{{miFormulario.value | json}}</p>
<div *ngIf = "showNewUserSent" style="border: 1px rgb(9, 151, 68) solid; border-radius: 10px; padding: 20px; background-color: rgb(131, 255, 127);">
    <p>User sent successfully!</p>
    {{newUserSent | json}}
</div>