<div class="box">
  <h2>Pipes</h2>
  <p>Doc sobre los Pipes: <a href="https://angular.io/guide/pipes">https://angular.io/guide/pipes</a></p>
  <p>Doc sobre los Pipes Names: <a href="https://angular.io/guide/styleguide#02-09">https://angular.io/guide/styleguide#02-09</a></p>
  <p>Doc sobre los DatePipes options: <a href="https://angular.io/api/common/DatePipe#usage-notes">https://angular.io/api/common/DatePipe#usage-notes</a></p>
</div>

<p>Sin Pipe:</p>
<p>Mi cumpleaños es hoy <b>{{fecha }}</b></p>
<br>
<p>Con Pipe:</p>
<pre>&lt;p&gt;Mi cumpleaños es hoy &lt; b &gt; &#123;&#123; fecha &#124; date &#125; &#125; &lt;/b&gt;&lt;/p&gt;</pre>
<p>Mi cumpleaños es hoy <b>{{fecha | date}}</b></p>

<br>
<pre>&lt;p&gt;Mi cumpleaños es hoy &lt; b &gt; &#123;&#123; fecha &#124; date : 'short' | uppercase &#125; &#125; &lt;/b&gt;&lt;/p&gt;</pre>
<p>Mi cumpleaños es hoy <b>{{fecha | date : 'short' | uppercase}}</b></p>

<br>
<pre>&lt;p&gt;Mi cumpleaños es hoy &lt; b &gt; &#123;&#123; fecha &#124; date : 'mediumDate' | uppercase &#125; &#125; &lt;/b&gt;&lt;/p&gt;</pre>
<p>Mi cumpleaños es hoy <b>{{fecha | date : 'mediumDate' | uppercase}}</b></p>

<br>
<pre>&lt;p&gt;Mi cumpleaños es hoy &lt; b &gt; &#123;&#123; fecha &#124; date : 'fullDate' | uppercase &#125; &#125; &lt;/b&gt;&lt;/p&gt;</pre>
<p>Mi cumpleaños es hoy <b>{{fecha | date : 'fullDate' | uppercase}}</b></p>
<button (click)="test()">Test</button>

<style>
  .box{
    background-color: azure;
    border-radius: 10px;
    border: solid 1px black;
    padding: 10px;
  }
</style>