<h1>A ChackList - Ejercicio 3</h1>
<p>Separar los items del ejercicio 2 en componentes</p>
<input type="text" #inputItem>
    <button (click)="agregarItem(inputItem.value); inputItem.value=''; inputItem.focus();">Add</button>

    <p *ngIf="listaItems.length==0">Sin items por ahora...</p>

<div *ngFor="let itemPadre of listaItems">
<!--<app-item  [itemHijo]="itemPadre" (emitterDelete)="eliminarItem(itemPadre)"></app-item>-->
<app-item  [itemHijo]="itemPadre" (emitterDelete)="eliminarItem($event)"></app-item> <!--Aca $even es de tipo Item (porque asi lo estableci en el ) y contiene el item a ser eliminado por la handler del padre-->
</div>